doctype html
html
    head
        title New Meeting
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700')
        link(rel='stylesheet', href='/assets/css/meeting-style.css')
    body
        nav.top-nav
            div.left
                h3 Meeting Hub
            div.right
                button.meeting-end End Meeting
                button.meeting-start Start Meeting
                a(href='/logout')
                    button.logout Logout

        div.meeting-details
            h3 #{subject}
            p Location: #{location}
            p Status: #{status}
            br
            each participant in participants
                span.participant= participant.name
            span.participant.owner #{owner}

        div.grid-container        
            div.transcript-container
                h4 Meeting Transcript
                div.transcript-text
                div.transcript-controls
                    button.transcript-stop Stop Transcript
            div.reminder-container
                h4 Agendas
                each reminder in agenda
                    div.reminder-item
                        span= reminder
            div.notes-container
                h4 Meeting Notes
                div.notes-list
            div.actions-container
                h4 Action Items
                div.action-items

        script(src='/assets/js/socket.io.slim.js')
        script(src='/assets/js/jquery.js')
        script(src='/assets/js/client.js')
